﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Forms.Models.CreateFieldModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Field Information</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("Form")

                        <button type="submit" class="ladda-button btn btn-primary">
                            <i class="fa fa-save"></i> Create
                        </button>

                        <a class="btn btn-default" href="@Url.Action("Index", new { formId = Model.FormId })">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("admin/form-field")
}
