﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Forms.Models.EditFieldModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Field Information</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Field</h2>
                            @using (Html.FormPost())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ErrorSummary()

                                @Html.EditorForModel("Form")

                                <button type="submit" class="ladda-button btn btn-primary">
                                    <i class="fa fa-save"></i> Update
                                </button>

                                <a class="btn btn-default" href="@Url.Action("Index", new {formId = Model.FormId})">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            }
                        </div>

                        <div class="col-sm-8">
                            <h2>Translations</h2>
                            @Html.Action("Index", "FieldTranslation", new { fieldId = Model.Id })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            Validator.default();
        });
    </script>
}
