﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Forms.Models
@model FormViewModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Fields <span class="small">@Model.Name</span></h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "FormField", new {formId = Model.FormId})">
                                <i class="fa fa-plus"></i> Add new field
                            </a>

                            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "Form")'">
                                <i class="fa fa-arrow-left"></i> Back
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<FormFieldPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.FieldName)
                                .ClientTemplate($"<a href='/Admin/FormField/Edit/#=Id #?formId={Model.FormId}'>#=FieldName #</a>");
                            columns.Bound(p => p.DataType);
                            columns.Bound(p => p.IsRequired);
                            columns.Bound(p => p.SortOrder);
                            columns.Command(command => { command.Destroy(); }).Width(150);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Sort(x => x.Add(a => a.SortOrder))
                            .Model(model => model.Id(p => p.Id))
                            .Read(x => x.Action("Grid_Read", "FormField", new { formId = Model.FormId }))
                            .Destroy(x => x.Action("Grid_Destroy", "FormField", new { formId = Model.FormId }))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>