﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Host.Models
@using ResourceCenter.WebUI.Infrastructure.Extensions

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<HostUserPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.UserName);
                            columns.Bound(p => p.Email);
                            columns.Template(x => { })
                                .ClientTemplate(@"
                                        #if (IsLocked === false) { #
                                            <button class='btn btn-danger' onclick='hostManageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-ban'></span> Lock</button>
                                        # } else { #
                                            <button class='btn btn-primary' onclick='hostManageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-check'></span> Unlock</button>
                                        # } #
                                            <button class='btn btn-default' onclick='hostManageUserCtrl.resetPassword(#:Id#)'>Reset pwd</button>"
                                        ).Width(250);
                        })
                        .ClientDetailTemplateId("client-template")
                        .Events(e => e.DataBound("hostManageUserCtrl.dataBound"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                // Set editable for IsLocked property to make it could be changed on the client side
                                model.Field(x => x.IsLocked).Editable(true);
                            })
                            .Read(read => read.Action("Grid_Read", "ManageUser", "Host"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="client-template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<HostUserPreview>()
      .Name("grid_#=Id#")
      .Columns(columns =>
      {
          columns.Bound(p => p.UserName);
          columns.Bound(p => p.Email);
      })
      .Pageable()
      .Sortable()
      .Filterable()
      .Scrollable(s => s.Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
            .PageSize(20)
            .Events(e => e.GridRequestEnd().GridError())
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Action("Grid_DetailRead", "ManageUser", new { tenantId = "#=TenantId#" }))
      ).ToClientTemplate())
</script>

@section scripts
{
    @ViewHelper.RenderPageScript("host/manage-user");
}