﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Invitations.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Invitation List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Invitation", new { area = "Admin" })">
                                <i class="fa fa-plus"></i> Invite Reseller
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<InvitationPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.EmailTo);
                            columns.Bound(p => p.SentBy);
                            columns.Bound(p => p.RegisteredBy);
                            columns.Bound(p => p.Status);
                            columns.Bound(p => p.CreatedDate).FormatDate();
                            columns.Bound(p => p.ExpiredDate).FormatDate();
                            columns.Template(p => { })
                                .ClientTemplate(@"
                                    # if (Status == 0) { #
                                        <button id='buttonResend#:Id#' class='btn btn-default' onclick='invitationCtrl.resend(#:Id#)'>
                                            <span class='fa fa-envelope-o'></span> Resend
                                        </button>
                                    # } #")
                               .Width(110);
                            columns.Command(command =>
                            {
                                command.Edit(); command.Destroy();
                            }).Width(190);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Form"))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .DefaultSettings()
                        .Sort(x => x.Add(a => a.CreatedDate).Descending())
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(x => x.EmailTo).Editable(false);
                            model.Field(x => x.SentBy).Editable(false);
                            model.Field(x => x.RegisteredBy).Editable(false);
                            model.Field(x => x.Status).Editable(false);
                            model.Field(x => x.CreatedDate).Editable(false);
                        })
                        .Read(x => x.Action("Grid_Read", "Invitation"))
                        .Update(x => x.Action("Grid_Update", "Invitation"))
                        .Destroy(x => x.Action("Grid_Destroy", "Invitation"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("admin/invitation")
}
