﻿@using ResourceCenter.WebUI.Infrastructure.Extensions
@model ResourceCenter.WebCore.Modules.Forms.Models.LeadFormModel

@if (Model != null)
{
    <hr />
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>

    <form novalidate="">
        @foreach (var item in Model.Fields)
        {
            @Html.LeadFieldEditor(item, true)
        }
    </form>
}