﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Forms.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Form List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<FormModel>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Name);
                            columns.Bound(p => p.Description);
                            columns.Bound(p => p.FieldCount);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Bound(p => p.ModifiedBy);
                            columns.Template(p => { })
                                .ClientTemplate(@"
                                    <a class='btn btn-default' href='/Admin/FormField?formId=#:Id#'>
                                        <span class='fa fa-list-alt'></span> Fields
                                    </a>

                                    # if (FieldCount > 0) { #
                                        <a class='btn btn-default' href='/Admin/Form/Preview/#:Id#'>
                                            <span class='fa fa-eye'></span> Preview
                                        </a>
                                    # } #")
                                    .Width(195);
                            columns.Command(command =>
                            {
                                command.Edit(); command.Destroy();
                            }).Width(250);
                        })
                        .ToolBar(toolbar => toolbar.Create())
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Form"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Sort(x => x.Add(a => a.ModifiedDate).Descending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(x => x.FieldCount).Editable(false);
                                model.Field(x => x.ModifiedDate).Editable(false);
                                model.Field(x => x.ModifiedBy).Editable(false);
                            })
                            .Read(x => x.Action("Grid_Read", "Form"))
                            .Create(x => x.Action("Grid_Create", "Form"))
                            .Update(x => x.Action("Grid_Update", "Form"))
                            .Destroy(x => x.Action("Grid_Destroy", "Form"))
                        ).Deferred())
                </div>
            </div>
        </div>
    </div>
</div>