﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Forms.Models.PreviewFormModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lead Form Preview</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPostInline())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("FormInline")

                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i> Preview
                        </button>

                        <a class="btn btn-default" href="@Url.Action("Index", "Form")">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    }

                    @Html.Partial("_LeadFormPreview", Model?.PreviewForm)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        Validator.default();
    </script>
}
