﻿@using Core.Web.Extensions
@using ResourceCenter.WebCore.Modules.Resellers.Models
@using ResourceCenter.WebUI.Infrastructure.Extensions
@model PreviewAssetModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Assets</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost(true))
                    {
                        @Html.EditorForModel("FormHorizontal")

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="btShow" class="btn btn-primary">
                                    <i class="fa fa-search"></i> Show
                                </button>
                            </div>
                        </div>
                    }

                    <div id="ajaxContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("reseller/content")
    @Scripts.Render("~/Scripts/libs/clipboard.min.js");

    <script>
        function getCascadeData() {
            return {
                tenantId: $("#TenantId").val()
            }
        }
    </script>


}
