﻿@model ResourceCenter.WebCore.Modules.Resellers.Models.PreviewAssetModel
@{
    var url = Url.Action("Index", "Default", new
    {
        area = "Resources",
        TenantId = Model.TenantId,
        ResellerId = CurrentUserId,
        Lang = Model.LanguageCode
    }, Request.Url?.Scheme);
}


<div class="panel panel-default">
    <div class="panel-heading">Preview resources</div>
    <div class="panel-body">
        <p>Click below link to view resources</p>
        <a href="@url" id="link" target="_blank">@url</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Embedded scripts</h3>
        
    </div>
    <div class="panel-body">
        <code id="_rc_content_script" style="white-space: normal">
            @Html.Encode(new HtmlString($"<iframe id='_rc_content' data-src='{url}' frameborder='0' scrolling='no' style='display: block; margin: 0px auto; text-align: left; width: 100%; height: 100px'></iframe>"))
            @Html.Encode(new HtmlString($"<script src='{Request.Url?.AbsoluteUri}/Scripts/client.js'></script>"))
        </code>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#_rc_content_script">
            <i class="fa fa-copy"></i> Copy to clipboard
        </button>
    </div>
</div>