﻿@using Core.Localization
@using Core.Web.Extensions
<h2>Lead Form Preview</h2>

@using (Html.FormPost())
{
    <span>Language: </span>
    @(Html.Kendo().DropDownList()
        .Name("LanguageCode")
        .DataValueField("Name")
        .DataTextField("DisplayName")
        .HtmlAttributes(new { style = "width: 300px" })
        .BindTo(ViewBag.Languages as IList<LanguageInfo>)
        .Deferred()
    )

    <button class="btn btn-primary">
        <i class="fa fa-search"></i> Preview
    </button>
    <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Form")'">
        <i class="fa fa-undo"></i> Back
    </button>
}