﻿@using Kendo.Mvc.UI
@using ResourceCenter.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Center</title>
    @ViewHelper.RenderStyles()
</head>
<body>
    <div id="page">
        @Html.Action("Header", "Components", new { area = "Resources" })
        <div class="container body-content">
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js-all")
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
