﻿@using Kendo.Mvc.UI
@using ResourceCenter.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Center</title>
    @ViewHelper.RenderStyles()
</head>
<body>
    <div id="page" class="productLayout">
        @Html.Action("Header", "Components", new { area = "Resources" })
        <div class="container body-content paddingTop">
            <div class="row">
                <div class="col-sm-3">
                    <div>
                        @Html.Action("Categories", "Components", new { area = "Resources" })
                        @Html.Action("Contact", "Components", new { area = "Resources" })
                    </div>
                </div>

                <div class="col-sm-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @ViewHelper.RenderScripts()
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
