﻿@using Core.Extensions
@using Core.Web.UI.PagedList
@model ResourceCenter.WebCore.Modules.Resellers.Models.TranslatedAssetModel

@using ResourceCenter.WebCore.Extensions
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="ibox">
        <div class="ibox-content product-box custom">
            <div class="product-imitation gridItem">
                @if (string.IsNullOrEmpty(Model.Thumbnail))
                {
                    <div class="icon">
                        <span></span>@Html.IconFileType(Model.FileName.FileExtension())
                    </div>
                }
                else
                {
                    <span></span><img alt="image" class="img-responsive" src="@Model.Thumbnail">
                }
            </div>
            <div class="product-desc">
                <h4 class="text-center">
                    @Model.AssetTitle
                </h4>

                <div class="m-t text-center">
                    <a class="btn btn-xs btn-outline btn-primary" href="@Url.Action("Detail", "Default", ViewContext.RequestContext.ToAssetDetailsRouteValues(Model.Id))">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

