﻿@using Core.Extensions
@using Core.Web.UI.PagedList
@using ResourceCenter.WebCore.Extensions
@model ResourceCenter.WebCore.Modules.Resellers.Models.TranslatedAssetModel

<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content product-box custom">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-imitation listItem">
                        @if (string.IsNullOrEmpty(Model.Thumbnail))
                        {
                            <div class="icon">
                                <span></span>@Html.IconFileType(Model.FileName.FileExtension())
                            </div>
                        }
                        else
                        {
                            <span></span><img alt="image" class="img-responsive" src="@Model.Thumbnail">
                        }
                    </div>
                </div>
                <div class="col-md-7 descriptionContent">
                    <h2 class="font-bold m-b-xs">
                        @Model.AssetTitle
                    </h2>
                    <hr>
                    <h4>Product description</h4>
                    <div class="small text-muted">
                        @Model.ShortDescription
                    </div>
                    <hr/>
                    <div class="m-t">
                        <a class="btn btn-xs btn-outline btn-primary" href="@Url.Action("Detail", "Default", ViewContext.RequestContext.ToAssetDetailsRouteValues(Model.Id))">
                            View Details
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>