﻿@using ResourceCenter.WebUI.Infrastructure.Extensions
@model ResourceCenter.WebCore.Modules.Forms.Models.LeadFormModel

<h4>@Model.Name</h4>
<p>@Model.Description</p>

@using (Html.BeginForm("Asset", "Download", new { area = "" }, FormMethod.Post, new { novalidate = "" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("AssetId", Model.AssetId)
    @Html.Hidden("FormId", Model.Id)
    @Html.Hidden("ResellerId", (int)ViewBag.ResellerId)

    foreach (var item in Model.Fields)
    {
        @Html.LeadFieldEditor(item)
    }
    <div class="text-right">
        <button class="btn btn-primary ladda-button">
            <i class="fa fa-cloud-download"></i> Download
        </button>
    </div>
}
