﻿@using Core.Extensions
@using Core.Web.Extensions
@using Core.Web.UI.PagedList
@using ResourceCenter.WebCore.Extensions
@using ResourceCenter.WebUI.Infrastructure.Extensions
@model ResourceCenter.WebCore.Modules.Resellers.Models.TranslatedAssetModel

<div class="col-lg-12">
    <div class="ibox product-detail">
        <div class="ibox-content product-box custom">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-imitation detailItem">
                        @if (string.IsNullOrEmpty(Model.Thumbnail))
                        {
                            <div class="icon">
                                <span></span>@Html.IconFileType(Model.FileName.FileExtension())
                            </div>
                        }
                        else
                        {
                            <span></span><img alt="image" class="img-responsive" src="@Model.Thumbnail">
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <h2 class="font-bold m-b-xs">
                        @Model.AssetTitle
                    </h2>
                    <small>@Model.ShortDescription</small>
                    <div class="m-t-md">
                        <h2 class="product-main-price">@Model.FileName</h2>
                    </div>
                    <hr>

                    <h4>Product description</h4>

                    <div class="small text-muted">
                        @Model.LongDescription
                    </div>
                    <dl class="small m-t-md">
                        <dt>File name</dt>
                        <dd>@Model.FileName</dd>
                        <dt>File type</dt>
                        <dd>@Model.FileName.FileExtension()</dd>
                        <dt>Uploaded date</dt>
                        <dd>@Model.CreatedDate</dd>
                    </dl>
                    <hr>

                    <div>
                        @if (!Model.IsGated)
                        {
                            <form id="form" method="post" action="@Url.Action("Asset", "Download", new {area = ""})">
                                @Html.AntiForgeryToken()
                                @Html.Hidden("AssetId", Model.Id)
                                @Html.Hidden("ResellerId", ViewContext.RequestContext.ResellerId())

                                <button class="btn btn-default">
                                    <i class="fa fa-cloud-download"></i> Download
                                </button>
                            </form>
                        }
                        else
                        {
                            <button id="btDownload" class="btn btn-primary" data-toggle="modal" data-target="#modal">
                                <i class="fa fa-cloud-download"></i> Download
                            </button>

                            @Html.ModalPartial()

                            @section scripts{
                                @ViewHelper.RenderPageScript("resources/default-detail");
                                <script>
                                    $(function () {
                                        var baseUrl = '@Url.Action("AssetLeadForm")',
                                            formData = {
                                                assetId: '@ViewContext.RequestContext.AssetId()',
                                                resellerId: '@ViewContext.RequestContext.ResellerId()',
                                                tenantId: '@ViewContext.RequestContext.TenantId()',
                                                lang: '@ViewContext.RequestContext.LanguageCode()'
                                            };
                                        detailCtrl.init(baseUrl, formData);
                                    });
                                </script>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>