﻿@using Core.Extensions
@using Core.Web.UI.PagedList
@using ResourceCenter.WebCore.Extensions
@using ResourceCenter.WebUI.Infrastructure.Extensions

@model Core.Infrastructure.Paging.IPagedList<ResourceCenter.WebCore.Modules.Resellers.Models.TranslatedAssetModel>

<div>
    <div class="ibox-content m-b-sm border-bottom">
        <div class="ibox-tools">
            <div class="btn-group">
                <a id="btGrid" href="#" class="btn btn-white btn-sm"><i class="fa fa-th"></i> Grid </a>
                <a id="btList" href="#" class="btn btn-white btn-sm"><i class="fa fa-th-list"></i> List </a>
            </div>
        </div>
    </div>

    <div class="row" id="productView">
        @foreach (var item in Model)
        {
            <div class="listDiv">
                @Html.Partial("_ListItem", item)
            </div>

            <div class="gridDiv">
                @Html.Partial("_GridItem", item)
            </div>
        }
    </div>

    <div class="text-center">
        @Html.PagedListPager(Model,
            page => Url.Action("Index", "Default", ViewContext.RequestContext.ToPagedAssetsRouteValues(page)))
    </div>
</div>

@section scripts{
    @ViewHelper.RenderPageScript("resources/resource-list")
}