﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Host.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Template List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "TemplateEmail", new { area = "Host" })">
                                <i class="fa fa-plus"></i> Add new template
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<TemplateEmailPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Name).ClientTemplate("<a href='/Host/TemplateEmail/Edit/#=Id #'>#=Name #</a>");
                            columns.Bound(p => p.IsDefault);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Command(command =>
                            {
                                command.Edit();
                                command.Destroy();
                            });
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettingsWithSync()
                            .Sort(x =>
                            {
                                x.Add(a => a.Name).Ascending();
                                x.Add(a => a.IsDefault).Descending();
                            })
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(x => x.Name).Editable(false);
                                model.Field(x => x.ModifiedDate).Editable(false);
                            })
                            .Read(read => read.Action("Grid_Read", "TemplateEmail"))
                            .Update(update => update.Action("Grid_Update", "TemplateEmail"))
                            .Destroy(destroy => destroy.Action("Grid_Destroy", "TemplateEmail"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>