﻿@using Core.Web.MetadataModel.Common

@{
    var name = Html.NameForModel().ToString();
    var url = Url.Action("Index", "FileManager", new { targetId = name });
    var htmlAttributes = Html
            .ModelHtmlAttributes()
            .AttrIfNotNull("readonly", "");
}

<div class="input-group">
    @(Html.Kendo().TextBoxFor(m => m)
      .HtmlAttributes(htmlAttributes)
      .Deferred())
    <a class="input-group-addon btn btn-default" onclick="KendoHelper.showPopup('@url')">
        <i class="fa fa-upload"></i> Select
    </a>
</div>

