﻿@using Core.Web.MetadataModel.Common
@model string

@Html.HiddenFor(m => m)
<input id="location_map_input" class="controls" type="text" placeholder="Search Box" style="width: 100%!important">
<div id="location_map" style="height: 550px;"></div>
