﻿@using Core.Web.MetadataModel.Common
@using ResourceCenter.DataAccess.Repositories
@model IList<int>

@{
    var list = UnitOfWork.Repo<PartnerTypeRepository>().GetByUserId(CurrentUserId);

    var selectedValues = new List<int>();
    if (Model != null)
    {
        selectedValues = list.Where(x => Model.Contains(x.Value))
            .Select(x => x.Value)
            .ToList();
    }
}

@(Html.Kendo().MultiSelectFor(m => m)
    .DataTextField("Text")
    .DataValueField("Value")
    .Placeholder("Select partner types...")
    .BindTo(list)
    .Value(selectedValues)
    .HtmlAttributes(Html.ModelHtmlAttributes().AddStyle("min-width:250px"))
    .Deferred(ViewData.ModelMetadata.Options().Deferred)
)