@using Core.Web.MetadataModel.Common
@model bool?
@{
    var name = Html.NameForModel().ToString();
}
<div class="checkbox">
    @Html.CheckBox("", Model ?? false)
    <label for="@name">
        @if (ViewData.ModelMetadata.Options().ShowLabel)
        {
            @ViewData.ModelMetadata.DisplayName
        }
    </label>
</div>