﻿.form-inline .btn {
    vertical-align: -webkit-baseline-middle;
}

.form-group .k-textbox {
    width: 100%;
}

textarea.form-control {
    font-size: 13px;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after,
.checkbox input[type="radio"]:checked + label::after,
.checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.ladda-button:focus {
    outline: none !important;
}

/* Override inspinia css */

.modal-body {
    padding: 15px;
}

.ibox-tools .buttons {
    position: absolute;
    right: 0;
    top: -7px;

    .btn {
        text-align: right;
        margin-bottom: 0px;
    }
}

.loginscreen.middle-box {
    width: 380px;
    max-width: 450px;
}

/* Override Kendo bootstrap css */

.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.k-edit-form-container {
    width: 550px;
    padding-left: 8px;
    padding-right: 8px;

    textarea.form-control {
        width: 95%;
    }
}

.list-group.k-widget {
    border-style: none;
    border-width: 0;
    -webkit-appearance: none;
}
