﻿// resource
#page .thumbnail {
    height: 300px;

    .image {
        height: 100px;
        overflow: hidden;
        text-align: center;
    }

    .caption {
        height: 150px;
        overflow: hidden;
    }
}

// file manager
.file-manager {
    margin: 10px;

    .k-upload-button {
        margin: 0;
        width: 100%;
    }

    .k-widget {
        border-color: transparent;
    }

    .form-group {
        vertical-align: top;
        width: 80%;
    }

    .file-box {
        width: 147px;
        padding: 5px;
        height: 160px;

        .file {
            width: 145px;
            overflow: hidden;
            cursor: pointer;
        }
    }
}

// home layout
.m-t.custom {
    .form-group {
        text-align: left;
    }

    .k-textbox {
        width: 100%;
    }
}

// resource
.productLayout {
    .paddingTop {
        padding-top: 90px;
    }
}

.product-box.custom {
    .product-imitation {
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }

    .gridItem {
        height: 150px;

        i {
            vertical-align: sub;
        }
    }

    .listItem {
        height: 250px;

        i {
            display: block;
        }
    }

    .detailItem {
        height: 400px;

        i {
            display: block;
        }
    }

    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        margin: auto;
        display: inline-block;
    }

    .icon {
        font-size: 70px;
    }

    .product-desc {
        .text-center {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .descriptionContent {
        padding: 20px;
    }
}

.listDiv {
    display: none;
}

.gridDiv {
    display: block;
}

.listView {
    .listDiv {
        display: block;
    }

    .gridDiv {
        display: none;
    }
}
