﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Categories.Models.EditCategoryModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Category Information</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Edit</h2>
                            @using (Html.FormPost())
                            {
                                @Html.AntiForgeryToken()

                                @Html.ErrorSummary()

                                @Html.EditorForModel("Form")

                                <button class="btn btn-primary ladda-button">
                                    <i class="fa fa-save"></i> Update
                                </button>

                                <a class="btn btn-default" href="@Url.Action("Index")">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            }
                        </div>

                        <div class="col-sm-8">
                            <h2>Translations</h2>
                            @Html.Action("Index", "CategoryTranslation", new { categoryId = Model.Id })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        Validator.default();
    </script>
}
