﻿@using ResourceCenter.WebCore.Modules.Categories.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Category List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Category")">
                                <i class="fa fa-plus"></i> Add new category
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().TreeList<CategoryPreview>()
                        .Name("treeList")
                        .Columns(columns =>
                        {
                            columns.Add().Field(e => e.Text);
                            columns.Add().Field(e => e.SortOrder);
                            columns.Add()
                                .Template(@"
                                    <a href='/Admin/Category/Edit/#:Id#' class='btn btn-default'><span class='k-icon k-i-edit'></span> Edit</a>
                                    #if (!HasChildren) {#
                                        <button onclick='categoryCtrl.deleteNode(event)' class='btn btn-default'><span class='k-icon k-i-delete'></span> Delete</button>
                                    # } #
                                ")
                                .Sortable(false)
                                .Filterable(false)
                                .Width(190);
                        })
                        .Filterable()
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Read(read => read.Action("TreeList_Read", "Category"))
                            .Model(m =>
                            {
                                m.Id(f => f.Id);
                                m.ParentId(f => f.ParentId);
                                m.Expanded(true);
                                m.Field(f => f.Text);
                                m.Field(f => f.SortOrder);
                            })
                        )
                        .Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @ViewHelper.RenderPageScript("admin/category")
}