﻿
@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Resellers.Models.InvitationCodeModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Invitation Code</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost(true))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("FormHorizontal")

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="ladda-button btn btn-primary">
                                    <i class="fa fa-save"></i> Subscribe
                                </button>

                                <a class="btn btn-default" href="@Url.Action("Subscribe", "Subscription", new { area = "Reseller" })">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            Validator.default();
        });
    </script>
}
