﻿<h2>Subscription</h2>
<p>
    You have been successfully subscribed. Please waiting for approval.
</p>

<a class="btn btn-default" href="@Url.Action("Subscribe", "Subscription", new { area = "Reseller" })">
    <i class="fa fa-undo"></i> Back
</a>