﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.ManageUser.Models.EditUserModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Information</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("Form")

                        <button type="submit" class="ladda-button btn btn-primary">
                            <i class="fa fa-save"></i> Update
                        </button>

                        <a class="btn btn-default" href="@Url.Action("Index", "ManageUser")">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        Validator.default();
    </script>
}