﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.ManageUser.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "ManageUser", new { area = "Admin" })">
                                <i class="fa fa-plus"></i> Add new user
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<UserPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.UserName)
                                .ClientTemplate("<a href='/Admin/ManageUser/Edit/#=Id #'>#=UserName #</a>");
                            columns.Bound(p => p.Email).Width(200);
                            columns.Bound(p => p.FirstName);
                            columns.Bound(p => p.LastName);
                            columns.Bound(p => p.MiddleName);
                            columns.Template(x => { })
                                .ClientTemplate(@"
                                        #if (IsLocked === false) { #
                                            <button class='btn btn-danger' onclick='manageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-ban'></span> Lock</button>
                                        # } else { #
                                            <button class='btn btn-primary' onclick='manageUserCtrl.toggleIsLocked(event)'> <span class='fa fa-check'></span> Unlock</button>
                                        # } #
                                            <button class='btn btn-default' onclick='manageUserCtrl.resetPassword(#:Id#)'>Reset pwd</button>"
                                        ).Width(250);
                            columns.Command(command => command.Destroy());
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                // Set editable for IsLocked property to make it could be changed on the client side
                                model.Field(x => x.IsLocked).Editable(true);
                            })
                            .Read(read => read.Action("Grid_Read", "ManageUser"))
                            .Destroy(update => update.Action("Grid_Destroy", "ManageUser"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("admin/manage-user");
}