﻿@using Core.Timing
@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Account.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Welcome to IN+</h3>
    <p>
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    </p>
    <p>Login in. To see it in action.</p>

    @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ReturnUrl")

        @Html.ErrorSummary()

        <div class="form-group">
            @Html.EditorFor(x => x.Username)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Password)
        </div>

        <button class="btn btn-primary block full-width m-b ladda-button btn-sm" data-style="zoom-out">
            Login
        </button>

        <a href="@Url.Action("ForgotPassword")"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register")">
            Create an account
        </a>
    }
    
    @Html.Partial("_Footer")
</div>

@section Scripts {
    <script>
        Validator.default();
    </script>
}
