﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Account.Models.CreateResellerModel
@{
    ViewBag.Title = "Register";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Register as reseller</h3>
    <p>Create account to see it in action.</p>
    @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
    {
        @Html.AntiForgeryToken()

        @Html.ErrorSummary()

        <div class="form-group">
            @Html.EditorFor(x => x.UserName)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Email)
        </div>
            <div class="form-group">
                @Html.EditorFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.EditorFor(x => x.ConfirmPassword)
            </div>

            <div class="form-group">
                @Html.EditorFor(x => x.AgreeTerms)
            </div>

            <button type="submit" class="ladda-button btn btn-primary block full-width m-b btn-sm" data-style="zoom-out">Register</button>
            <p class="text-muted text-center"><small>Already have an account?</small></p>

            <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login", "Account")">Login</a>
    }
    @Html.Partial("_Footer")
</div>

@section scripts {
    <script>
        Validator.default();
    </script>
}