﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.AssetLanguages.Models
@model string

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Language List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<LanguageModel>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.LanguageCode).ClientTemplate("#=LanguageHelper.getCountryName(LanguageCode)#");
                            columns.Bound(p => p.IsDefault);
                            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                        })
                        .ToolBar(toolbar => toolbar.Create())
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettingsWithSync()
                            .Sort(x => x.Add(a => a.IsDefault).Descending())
                            .Model(model => model.Id(p => p.Id))
                            .Create(update => update.Action("Grid_Create", "Language"))
                            .Read(read => read.Action("Grid_Read", "Language"))
                            .Update(update => update.Action("Grid_Update", "Language"))
                            .Destroy(update => update.Action("Grid_Destroy", "Language"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>