﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Assets.Models.EditAssetModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Asset Information</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Index")'">
                                <i class="fa fa-arrow-left"></i> Back
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Asset</a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">Translations</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="panel-body">
                                    @using (Html.FormPost())
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ErrorSummary()

                                        @Html.EditorForModel("Form")

                                        <button class="btn btn-primary ladda-button">
                                            <i class="fa fa-save"></i> Update
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="panel-body">
                                    @Html.Action("Index", "AssetTranslation", new { assetId = Model.Id })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("admin/asset")
}
