﻿@using Core.Web.Extensions
@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Assets.Models
@model AssetFilterModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Asset List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Asset", new {area = "Admin"})">
                                <i class="fa fa-plus"></i> Add new asset
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPostInline())
                    {
                        @Html.AntiForgeryToken()
                        @Html.EditorForModel("FormInline")

                        <button type="submit" class="btn btn-sm btn-default">
                            <i class="fa fa-search"></i>
                            Filter
                        </button>
                    }

                    @(Html.Kendo().Grid<AssetPreview>()
                      .DefaultSettings()
                      .Columns(columns =>
                      {
                          columns.Bound(p => p.Alias)
                              .ClientTemplate("<a href='/Admin/Asset/Edit/#=Id #'>#=Alias #</a>");
                          columns.Bound(p => p.CategoryAlias);
                          columns.Bound(p => p.FileName);
                          columns.Bound(p => p.Published);
                          columns.Bound(p => p.IsGated);
                          columns.Bound(p => p.IsCobranded);
                          columns.Bound(p => p.ModifiedDate).FormatDateTime();
                          columns.Bound(p => p.ModifiedBy);
                          columns.Command(command => { command.Destroy(); }).Width(110);
                      })
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .DefaultSettings()
                          .Sort(x => x.Add(a => a.ModifiedDate).Descending())
                          .Model(model => model.Id(p => p.Id))
                          .Read(x => x.Action("Grid_Read", "Asset", new { categoryId = ViewBag.CategoryId }).Data("getFilter"))
                          .Destroy(x => x.Action("Grid_Destroy", "Asset", new { categoryId = ViewBag.CategoryId }))
                      ).Deferred())
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function getFilter() {
            return {
                partnerTypeId: $("#PartnerTypeId").val()
            }
        }
    </script>
}
