﻿@using Core.Web.Extensions
@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.DownloadHistory.Models

<div class="wrapper wrapper-content animated fadeInRight" id="animatedContent">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lead History List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<DownloadHistoryPreview>()
                          .DefaultSettings()
                          .Columns(columns =>
                          {
                              columns.Bound(p => p.AssetName);
                              columns.Bound(p => p.SubscriberName);
                              columns.Bound(p => p.DownloadedDate).FormatDateTime();
                              columns.Template(p => { })
                                  .ClientTemplate(@"
                                        <button class='btn btn-default' onclick='downloadHistoryCtrl.detail(event)'> 
                                            <span class='fa fa-eye'></span> Detail
                                        </button>")
                                  .Width(110);
                          })
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .DefaultSettings()
                              .Sort(x => x.Add(a => a.DownloadedDate).Descending())
                              .Model(model => model.Id(p => p.Id))
                              .Read(x => x.Action("Grid_Read", "DownloadHistory"))
                          ).Deferred())
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ModalPartial()

@section scripts
{
    @ViewHelper.RenderPageScript("admin/download-history");
}
