﻿@using Core.Web.Extensions
@model ResourceCenter.WebCore.Modules.Profile.Models.ChangePasswordModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Change Password</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("Form")

                        <button type="submit" class="ladda-button btn btn-primary">
                            <i class="fa fa-save"></i> Update
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        Validator.default();
    </script>
}
