﻿@using ResourceCenter.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.PageTitle()</title>
    @ViewHelper.RenderStyles()
</head>
<body id="page-top" class="landing-page">

    @RenderBody()

    @ViewHelper.RenderScripts("home")
    @RenderSection("scripts", required: false)
</body>
</html>
