﻿.form-inline .btn {
  vertical-align: -webkit-baseline-middle; }

.form-group .k-textbox {
  width: 100%; }

textarea.form-control {
  font-size: 13px; }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after,
.checkbox input[type="radio"]:checked + label::after,
.checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.ladda-button:focus {
  outline: none !important; }

/* Override inspinia css */
.modal-body {
  padding: 15px; }

.ibox-tools .buttons {
  position: absolute;
  right: 0;
  top: -7px; }
  .ibox-tools .buttons .btn {
    text-align: right;
    margin-bottom: 0px; }

.loginscreen.middle-box {
  width: 380px;
  max-width: 450px; }

/* Override Kendo bootstrap css */
.k-grid td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.k-edit-form-container {
  width: 550px;
  padding-left: 8px;
  padding-right: 8px; }
  .k-edit-form-container textarea.form-control {
    width: 95%; }

.list-group.k-widget {
  border-style: none;
  border-width: 0;
  -webkit-appearance: none; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca; }

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none; }

.pager:before,
.pager:after {
  display: table;
  content: " "; }

.pager:after {
  clear: both; }

.pager:before,
.pager:after {
  display: table;
  content: " "; }

.pager:after {
  clear: both; }

.pager li {
  display: inline; }

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px; }

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee; }

.pager .next > a,
.pager .next > span {
  float: right; }

.pager .previous > a,
.pager .previous > span {
  float: left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff; }

#page .thumbnail {
  height: 300px; }
  #page .thumbnail .image {
    height: 100px;
    overflow: hidden;
    text-align: center; }
  #page .thumbnail .caption {
    height: 150px;
    overflow: hidden; }

.file-manager {
  margin: 10px; }
  .file-manager .k-upload-button {
    margin: 0;
    width: 100%; }
  .file-manager .k-widget {
    border-color: transparent; }
  .file-manager .form-group {
    vertical-align: top;
    width: 80%; }
  .file-manager .file-box {
    width: 147px;
    padding: 5px;
    height: 160px; }
    .file-manager .file-box .file {
      width: 145px;
      overflow: hidden;
      cursor: pointer; }

.m-t.custom .form-group {
  text-align: left; }

.m-t.custom .k-textbox {
  width: 100%; }

.productLayout .paddingTop {
  padding-top: 90px; }

.product-box.custom .product-imitation {
  overflow: hidden;
  padding: 0;
  white-space: nowrap; }

.product-box.custom .gridItem {
  height: 150px; }
  .product-box.custom .gridItem i {
    vertical-align: sub; }

.product-box.custom .listItem {
  height: 250px; }
  .product-box.custom .listItem i {
    display: block; }

.product-box.custom .detailItem {
  height: 400px; }
  .product-box.custom .detailItem i {
    display: block; }

.product-box.custom span {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.product-box.custom img {
  margin: auto;
  display: inline-block; }

.product-box.custom .icon {
  font-size: 70px; }

.product-box.custom .product-desc .text-center {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.product-box.custom .descriptionContent {
  padding: 20px; }

.listDiv {
  display: none; }

.gridDiv {
  display: block; }

.listView .listDiv {
  display: block; }

.listView .gridDiv {
  display: none; }

