﻿@using System.Collections
@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Subscriptions.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Subscription List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<SubscriptionModel>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Subscriber);
                            columns.ForeignKey(p => p.PartnerTypeId, (IEnumerable)ViewBag.PartnerTypes, "Value", "Text");
                            columns.Bound(p => p.Status);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Bound(p => p.ModifiedBy);
                            columns.Command(command => { command.Edit(); }).Width(250);
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Sort(x => x.Add(a => a.ModifiedDate).Descending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(x => x.Subscriber).Editable(false);
                                model.Field(x => x.ModifiedDate).Editable(false);
                                model.Field(x => x.ModifiedBy).Editable(false);
                            })
                            .Read(read => read.Action("Grid_Read", "Subscription"))
                            .Update(update => update.Action("Grid_Update", "Subscription"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>