﻿@using ResourceCenter.WebCore.Extensions
@model IList<ResourceCenter.WebCore.Modules.Resellers.Models.TranslatedCategoryModel>
@{
    var currentCategoryId = ViewContext.RequestContext.CategoryId();
}

<div class="panel panel-primary">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @if (item.Id == currentCategoryId)
                    {
                        <span class="text-danger">@item.Text</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Default", ViewContext.RequestContext.ToCategoryRouteValues(item.Id))">@item.Text</a>
                    }
                </li>
            }
        </ul>
    </div>
</div>
