﻿@model ResourceCenter.WebCore.Modules.Resellers.Models.ResellerInfoModel

<div class="panel panel-default">
    <div class="panel-heading">Contact Details</div>
    <div class="panel-body">
        <h3>@Model.CompanyName</h3>
        <p><strong>Email: </strong> @Model.Email</p>
        <p><strong>Phone Numbers: </strong> @Model.PhoneNumber</p>
        <p><strong>Address 1: </strong> @Model.Address1</p>
        <p><strong>Address 2: </strong> @Model.Address2</p>
        <p>@Model.City, @Model.ZipCode</p>
        <p>@Model.Country</p>
    </div>
</div>