﻿@using ResourceCenter.WebCore.Extensions
@model ResourceCenter.WebCore.Modules.Resellers.Models.ResellerInfoModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Default", ViewContext.RequestContext.ToAreaRouteValues())"
               class="navbar-brand">
                @(Model.CompanyName ?? "[Company Name]")
            </a>
        </div>
    </div>
</div>

