﻿@using Microsoft.AspNet.Identity
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
        </ul>
    </div>
</nav>

