﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.PartnerTypes.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Partner Types List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<PartnerTypeModel>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Name);
                            columns.Bound(p => p.Description);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Bound(p => p.ModifiedBy);
                            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                        })
                        .ToolBar(toolbar => toolbar.Create())
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Sort(x => x.Add(a => a.ModifiedDate).Descending())
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(p => p.ModifiedDate).Editable(false);
                                model.Field(p => p.ModifiedBy).Editable(false);
                            })
                            .Create(update => update.Action("Grid_Create", "PartnerType"))
                            .Read(read => read.Action("Grid_Read", "PartnerType"))
                            .Update(update => update.Action("Grid_Update", "PartnerType"))
                            .Destroy(update => update.Action("Grid_Destroy", "PartnerType"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>