﻿@using System.Globalization
@using Core.Timing
@using ResourceCenter.DataAccess.Enums
@using ResourceCenter.WebCore.Extensions
@{
    ViewBag.Title = "Dashboard";
}

@section sitemap {
    @*No need breadcrumb in Home page*@
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-3">
            @RenderCounterBox("Download Count", "ajaxContent1", forToday: false)
        </div>
        <div class="col-md-3">
            @RenderCounterBox("Lead Count", "ajaxContent2", forToday: false)
        </div>
        <div class="col-md-3">
            @RenderCounterBox("Download Count", "ajaxContent3", forToday: true)
        </div>
        <div class="col-md-3">
            @RenderCounterBox("Lead Count", "ajaxContent4", forToday: true)
        </div>
    </div>

    @if (CurrentUser.IsInRole(ERole.Distributor, ERole.Host))
    {
        <div class="row">
            @if (CurrentUser.IsHost())
            {
                @RenderLatestBox("Latest Distributors", "ajaxLatest1")
            }
            else
            {
                @RenderLatestBox("Latest Subcribers", "ajaxLatest1")
            }
            @RenderLatestBox("Latest Assets", "ajaxLatest2")
        </div>
    }
</div>

@section scripts{
    @ViewHelper.RenderPageScript("admin/dashboard")
    <script>
        $(function () {
            dashboardCtrl.init(@(CurrentUser.IsHost()?"true":"false"));
        });
    </script>
}

@helper RenderCounterBox(string title, string ajaxContentId, bool forToday)
{
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-@(forToday?"primary":"success") pull-right">
                @(forToday ? "Today" : DateTimeFormatInfo.CurrentInfo?.GetMonthName(Clock.Now.Month))
            </span>
            <h5>@title</h5>
        </div>
        <div class="ibox-content">
            <div id="@ajaxContentId">
                @Html.Spinner()
            </div>
        </div>
    </div>
}

@helper RenderLatestBox(string title, string ajaxContentId)
{
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@title</h5>
            </div>
            <div class="ibox-content">
                <div id="@ajaxContentId">
                    @Html.Spinner()
                </div>
            </div>
        </div>
    </div>
}
