﻿@using Humanizer
@using ResourceCenter.DataAccess.Enums
@model Core.Infrastructure.Paging.IPagedList<ResourceCenter.WebCore.Modules.Dashboard.Models.LatestResellerModel>

<p class="text-right">
    Total subscribers: @Model.TotalItemCount
</p>
<table class="table table-hover no-margins">
    <thead>
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>User</th>
            <th>Partner Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @switch (item.Status)
                    {
                        case ESubscriptionStatus.Pending:
                            <small>Pending...</small>
                            break;
                        case ESubscriptionStatus.Active:
                            <span class="label label-primary">@item.Status</span>
                            break;
                        case ESubscriptionStatus.Suspended:
                            <span class="label label-warning">@item.Status</span>
                            break;
                        case ESubscriptionStatus.Cancelled:
                            <span class="label label-danger">@item.Status</span>
                            break;
                    }
                </td>
                <td>@item.UpdatedDate.Humanize()</td>
                <td>@item.UserName</td>
                <td class="text-navy">@item.PartnerTypeName</td>
            </tr>
        }
    </tbody>
</table>
