﻿@model Core.Infrastructure.Paging.IPagedList<ResourceCenter.WebCore.Modules.Dashboard.Models.LatestDistributorModel>

<p class="text-right">
    Total distributors: @Model.TotalItemCount
</p>
<table class="table table-hover no-margins">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>
