﻿@using Humanizer
@model Core.Infrastructure.Paging.IPagedList<ResourceCenter.WebCore.Modules.Dashboard.Models.LatestAssetModel>

<p class="text-right">
    Total asssets: @Model.TotalItemCount
</p>
<table class="table table-hover no-margins">
    <thead>
        <tr>
            <th>Alias</th>
            <th>Date</th>
            <th>User</th>
            <th>Gated</th>
            <th>Cobranded</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Alias.Truncate(50, "...")</td>
                <td>@item.ModifiedDate.Humanize()</td>
                <td>@item.ModifiedBy</td>
                <td class="text-center col-sm-1">@BooleanIcon(item.IsGated)</td>
                <td class="text-center col-sm-1">@BooleanIcon(item.IsGated)</td>
                <td class="text-center col-sm-1">@BooleanIcon(item.Published)</td>
            </tr>
        }
    </tbody>
</table>

@helper BooleanIcon(bool value)
{
    if (value)
    {
        <i class="fa fa-check text-navy"></i>
    }
}