﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Location.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Location List</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "UserLocation", new { area = "Admin" })">
                                <i class="fa fa-plus"></i> Add new location
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<UserLocationPreview>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Description).ClientTemplate("<a href='/Admin/UserLocation/Edit/#=Id #'>#=Description #</a>").Width(500);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Bound(p => p.ModifiedBy);
                            columns.Command(command => command.Destroy()).Width(110);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                            })
                            .Read(read => read.Action("Grid_Read", "UserLocation"))
                            .Destroy(update => update.Action("Grid_Destroy", "UserLocation"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>
