﻿@using Core.Web.Kendo
@using ResourceCenter.WebCore.Modules.Resellers.Models
@using ResourceCenter.WebUI.Infrastructure.Extensions

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Distributor List</h5>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<DistributorModel>()
                        .DefaultSettings()
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Distributor);
                            columns.Bound(p => p.PartnerTypeName);
                            columns.Bound(p => p.Status);
                            columns.Bound(p => p.ModifiedDate).FormatDateTime();
                            columns.Template(x => { }).ClientTemplate(@"
                                #if (Status === 1) { #
                                    <button class='btn btn-danger' onclick='subscriptionCtrl.changeStatus(event)' id='btSuspend#:Id#'> <span class='fa fa-ban'></span> Suspend</button>
                                # }
                                if (Status === 2) { #
                                    <button class='btn btn-success' onclick='subscriptionCtrl.changeStatus(event)' id='btActive#:Id#'> <span class='fa fa-check'></span> Active</button>
                                # } #").Width(250);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .DefaultSettings()
                            .Sort(x => x.Add(a => a.ModifiedDate).Descending())
                            .Model(model => model.Id(p => p.Id))
                            .Read(read => read.Action("Grid_Read", "Distributor"))
                        ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewHelper.RenderPageScript("reseller/distributor")
}
